<template name="standingsList">
    <div class="ui center aligned">
        <h1 class="ui center aligned header">Standings</h1>

        <table class="ui celled unstackable doubling striped center aligned table">
            <thead>
                <tr>
                    <th class="center aligned">Position</th>
                    <th class="center aligned">Team</th>
                    <th class="center aligned">Form</th>
                    <th class="center aligned">Played</th>
                    <th class="center aligned">Won</th>
                    <th class="center aligned">Drawn</th>
                    <th class="center aligned">Lost</th>
                    <th class="center aligned">Scored</th>
                    <th class="center aligned">Against</th>
                    <th class="center aligned">Difference</th>
                </tr>
            </thead>
            <tbody>
                {{#each standings}} {{> standingItem}} {{/each}}
            </tbody>
        </table>    
    </div>
    {{>Buttons}}
</template>